/* ========================= */
/* FADE                      */
/* ========================= */

@keyframes fadeIn{

    from{

        opacity:0;
        transform:translateY(18px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}

/* ========================= */
/* FADE SCALE                */
/* ========================= */

@keyframes fadeScale{

    from{

        opacity:0;
        transform:scale(.96);

    }

    to{

        opacity:1;
        transform:scale(1);

    }

}

/* ========================= */
/* FLOAT                     */
/* ========================= */

@keyframes floating{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-8px);

    }

    100%{

        transform:translateY(0px);

    }

}

/* ========================= */
/* GLOW                      */
/* ========================= */

@keyframes glow{

    0%{

        box-shadow:
            0 0 20px rgba(123,97,255,.18);

    }

    50%{

        box-shadow:
            0 0 45px rgba(123,97,255,.38);

    }

    100%{

        box-shadow:
            0 0 20px rgba(123,97,255,.18);

    }

}

/* ========================= */
/* PULSE                     */
/* ========================= */

@keyframes pulse{

    0%{

        transform:scale(1);

    }

    50%{

        transform:scale(1.03);

    }

    100%{

        transform:scale(1);

    }

}

/* ========================= */
/* SHIMMER                   */
/* ========================= */

@keyframes shimmer{

    from{

        background-position:-250% 0;

    }

    to{

        background-position:250% 0;

    }

}

/* ========================= */
/* ROTATE                    */
/* ========================= */

@keyframes rotateSlow{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

/* ========================= */
/* BLUR IN                   */
/* ========================= */

@keyframes blurIn{

    from{

        opacity:0;
        filter:blur(14px);

    }

    to{

        opacity:1;
        filter:blur(0);

    }

}